li {
  list-style: none;
}

a {
  text-decoration: none;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border:solid;
  padding: 1rem;
  margin: 2rem;
}
.temp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 2rem;
}


