li {
  list-style: none;
}

a {
  text-decoration: none;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border:solid;
  padding: 1rem;
  margin: 2rem;
}
.temp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 2rem;
}
.holdIndex{
  display:grid;
  grid-template-columns: 65% 35%;

}
.orderIndex{
  display: grid;
  grid-column: 2;
  grid-row:1

}
.userIndex{
  display: grid;
  grid-row:2
}
.shellIndex{
  display: grid;
  grid-column: 1;
  grid-row:1
}

